$color-white:#fff;
$color-lightenblue:#45c7cf;
$color-purple:#886bdf;
$color_black:#000;
$color_lightblue:#002d48;
$color_lightenwhite:#f3f3f3;
$color_darkgray:#343434;
$color_ligtengray:#616161;
$color_offwhite:#fafafa;